title {
  text-transform: capitalize;
}

.recipe-name {
  text-transform: capitalize;
}

h1.recipe-name {
  text-transform: uppercase;
  margin-top: 0.5em;
}

body {
  width: 100vw; 
}

.list {
  width: 100vw; 
  font-size: 20px;
  padding-left: 2em;
  text-transform: capitalize;
}
.page-header {
  margin-top: 0em;
}

.breadcrumb {
  margin-bottom: 0;
  position: fixed;
  top: 0; 
  width: 100%;
}

.ingredients {
  background-color: #f5f5f5;
}

.instructions {
  background-color: #f5f5f5;
}

.bs-docs-container {
  margin-top: 30px;
}

@media all and (max-device-width: 450px) {
  body {
    width: 100vw; 
    margin-left: auto;
    margin-right: auto;
  }
  .jumbotron h1 {
    font-size: 10vw;
  }

  .list {
    width: 100vw; 
    font-size: 5vw;
    padding-left: 2em;
  }

  .recipe-name {
    font-size: 7vw;
  }
  .ingredients h2 {
    font-size: 5vw;
  }
  .ingredients {
    font-size: 3vw;
  }
  .instructions h2 {
    font-size: 5vw;
  }
  .instructions {
    font-size: 3vw;
  }

  .breadcrumb {
    font-size: 3vw;
  }
}
